@page
@model TouristAttractionsJSON.Pages.OurTeamModel
@{
}
<!DOCTYPE HTML>
<html>
<body>

    <div class="d-grid gap-2" style="padding-bottom:20px">
        <button class="btn btn-success" type="button">Our Team</button>
    </div>
    <div class="row">
        <div class="col-sm" style="text-align:center;font:Verdana;padding-top:30px;padding-bottom:30px">
            <img src="/Images/SN.png" width="250" height="250" alt="Sehar" class="center" style="padding-bottom:10px ;padding-right:30px">
            <div class="card" style="width: 18rem; text-align:center">
                <div class="card-body" style="color:black">
                    <h5 class="card-title">Sehar Nagpal</h5>
                    <h6 class="card-title">Chief Executive Officer</h6>
                    <p class="card-text">Our leader to all staretgic decisions and vision of the company. </p>
                </div>
                <ul class="list-group list-group-flush" style="color:black">
                    <li class="list-group-item">Contact: 513-884-3150</li>
                    <li class="list-group-item">Office : 513-884-3150</li>
                    <li class="list-group-item">Email:nagpalsr@mail.uc.edu</li>
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link" style="color:black">Senator Place, Cincinnati, Ohio</a>
                </div>
            </div>
        </div>
        <div class="col-sm" style="text-align:center; font:Verdana;padding-top:30px;padding-bottom:30px">
            <img src="/Images/DN.jpg" width="250" height="250" alt="Deepak" class="center" style="        padding-bottom: 10px; padding-right:30px;">
            <div class="card" style="width: 18rem; text-align:center">
                <div class="card-body" style="color:black">
                    <h5 class="card-title">Deepak Narang</h5>
                    <h6 class="card-title">Chief Information Officer</h6>
                    <p class="card-text"> A driven and dedicated leader responsible for IT integratoin and outreach of our platform.</p>
                </div>
                <ul class="list-group list-group-flush" style="color:black">
                    <li class="list-group-item">Contact : 513-954-3560</li>
                    <li class="list-group-item">Office : 513-954-3560</li>
                    <li class="list-group-item">Email:narangdk@mail.uc.edu</li>
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link" style="color:black">2350, Corelain Avenue, New York City</a>
                </div>
            </div>
        </div>
        <div class="col-sm" style="text-align:center; font:Verdana;padding-top:30px;padding-bottom:30px">
            <img src="/Images/JCB.png" width="250" height="250" alt="Jayanth" class="center" style="padding-bottom:10px ;padding-right:30px">
            <div class="card" style="width: 18rem; text-align:center">
                <div class="card-body" style="color:black">
                    <h5 class="card-title">Jayanth Chawdhary</h5>
                    <h6 class="card-title">Vice President - IT</h6>
                    <p class="card-text">Our IT juggernaut for our day to day operations, our key lead to day to day operations. </p>
                </div>
                <ul class="list-group list-group-flush" style="color:black">
                    <li class="list-group-item">Contact : 571-519-9796</li>
                    <li class="list-group-item">Office : 571-519-9796</li>
                    <li class="list-group-item">Email:bandijy@mail.uc.edu</li> 
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link" style="color:black">601 E 59th St., New York City</a>
                </div>
            </div>
        </div>

    </div>
       
</body>
</html>